{% extends 'main/base.html' %}     
{% block content %}
<style>
  .card-box {
    height: 280px;
    width: 330px;
    display: block;
    background-color: #ffdbdb; 
    border: 1px solid #ccc; 
    transition: transform 0.1s ease-in-out; 
  }
  .card-box:hover {
    transform: scale(1.05);
    border: 1px solid #ff0000; 
    box-shadow: 0 0 10px rgb(255, 0, 0); 
  }
</style>

{% for object in object_list %}
<a href="/item/{{ object.pk }}/">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow card-box">
      <div class="card-body">
        <p>{{ object.name }}</p>
        <p>{{ object.description }}</p>
        <br>
        <p>{{ object.price }}-{{ object.currency }}.</p>
        <a class="btn btn-warning" href="/add-to-cart/{{ object.pk }}/">Добавить в корзину</a>
      </div>
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}